/* table{
    width: 100%;
    margin: 10%;
} */

th,
td {
text-align: left;
vertical-align:middle;

}

h3, h1{
font-weight: bold;
}

.id{
width:8%;
text-align: center;
vertical-align: middle;
}
.botao{
width:10%;
text-align: center;
vertical-align:middle;
}

#Content{
overflow:auto; 
}

#show{
    width: 90%;
    margin: auto;
    visibility:hidden;
}

#comentarios{
    /* width: 90%;
    height: 90%; */
    margin: auto;
    overflow-y: scroll;
    visibility:hidden;
    height: 330px;
    background-color: rgb(241, 239, 239);
}

#h1comentario{
    text-align: center;
    vertical-align: top;
}

#grid, #grid1, #grid2{
    background-color: rgb(241, 239, 239);
    border: 8px solid;
    border-color:rgb(75, 75, 77);
    max-width: 100%;
}

#hide{
    /* width: 100%; */
    text-align: center;
    margin: auto;
    vertical-align: middle;
    margin-left: 50%;
    margin-right: auto;
    
}

#post{
    /* width: 100%; */
    width: 300px;
    height: 300px;
    vertical-align: center;
    margin: auto;
    text-align: center;
}

.example-card {
    max-width: 400px;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
