table {
    table-layout: fixed;
    width: 90%;
    margin:auto;
}

th,
td {
text-align: left;
vertical-align:middle;

}

h3{
font-weight: bold;
}

.id{
width:5%;
text-align: center;
vertical-align:middle;
}
.botao{
width:10%;
text-align: center;
vertical-align:middle;
}

#Content{
overflow:auto; 
}

#show{
    width: 90%;
    margin: auto;
}

#comentarios{
    width: 90%;
    margin: auto;
}